/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    font-family: sans-serif;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1.2rem;
 }

 /* Header */
header {
    background-color: #120323;
    text-align: center;
    padding: 1rem;
 }
 
 header h1 {
    color:  #97bf04;
    font-size: 2rem;
 }
 
 nav {
    background-color: #d9043d;
    padding: 1rem 0;
 }
 
 nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
 }
 
 nav ul li {
    list-style: none;
 }
 
 nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
 }

 /* Main Content */
h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
 }
 
 #gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 0 2rem;
 }
 
 figure {
    background-color: var(--light-text);
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 }
 
 figure img {
    width: 100%;
    max-width: 620px;
    display: block;
    border-bottom: 8px solid var(--accent-color);
    margin: auto;
 }
 
 figure:last-of-type {
    grid-column: span 2;
 }