/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    font-family: sans-serif;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1.2rem;
 }

 /* Header */
header {
    background-color: #120323;
    text-align: center;
    padding: 1rem;
 }
 
 header h1 {
    color:  #97bf04;
    font-size: 2rem;
 }
 
 nav {
    background-color: #d9043d;
    padding: 1rem 0;
 }
 
 nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
 }
 
 nav ul li {
    list-style: none;
 }
 
 nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
 }